html,
body {
  height: 100%;
}
body {
  background: #eee;
  display: flex;
  justify-content: center;
}
.modal {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  visibility: visible;
}
.modal.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}
@supports (offset-rotation: 0deg) {
  offset-rotation: 0deg;
  offset-path: path("M 250,100 S -300,500 -700,-200");
  .modal.off {
    offset-distance: 100%;
  }
}
@media (prefers-reduced-motion) {
  .modal {
    offset-path: none;
  }
}
.modal h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}
.modal .content {
  padding: 1rem;
}

.modal .content button {
  background: #62fa9d;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}

.modal .actions {
  border-top: 1px solid #ccc;
  padding: 15px;
  align-items: center;
  align-content: center;
}
.modal .actions button {
  border: 0;
  background: #ff7474;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}


label {
  display: inline-block;
  width: 150px;
}

div {
  margin-bottom: 5px;
}